# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
dist
dist-ssr
build
.vite
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TS / cache
*.tsbuildinfo
.eslintcache
.stylelintcache

# Supabase local
supabase/.branches
supabase/.temp
